html {
	scroll-behavior: smooth;
}

body {
	background-color: #141311;
	font-family: 'Do Hyeon', sans-serif;
	color: #A2482E;
	font-size: 450%;
	/*
	height: 100%;
	*/
	margin-left: 8%;
}

button {
	background-color: #A2482E;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	margin: 4px 2px;
	cursor: pointer;
  }