body {
	background-color:#fcfcfc;
	font-family: Arial, Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	height:100%;
	margin:0;
}

h1 {
	color:#52ffee;
	text-align:center;
	font-size:50px;
}

h2 {
	color:#6ea4bf;
	font-size:30px;
	text-align:center;
}

p, ul {
	color:#41337a;
}

.image {
	background-image:url("home.jpg");
	background-attachment:fixed;
	background-position:center bottom;
	background-size:cover;
	height:500px;
}

.image-text {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100px;
	color:#fcfcfc;
	font-weight:bold;
	position:absolute;
	top:35%;
	left:50%;
	transform:translate(-50%, -50%);
	background-color:#6ea4bf;
	border-style:double;
}


#navbar {
  overflow:hidden;
  background-color:#fcfcfc;
}

#navbar a {
  float:left;
  display:block;
  color:#6ea4bf;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
}

#navbar a:hover {
  background-color:#6ea4bf;
  color:white;
}

#navbar a.active {
  background-color:#6ea4bf;
  color:white;
}

.content {
  padding:16px;
}

.sticky {
  position: fixed;
  top:0;
  width:100%;
}

.sticky + .content {
  padding-top:60px;
}

.article {
	margin-left: auto;
	margin-right: auto;
	width:1000px;
	background-color:#7FDBFF;
	border-style:solid;
}

.review {
	border-style: ridge;
	width: 900px;
}

.quote {
	font-style:italic;
}
