html {
	scroll-behavior: smooth;
}

body {
	background-color: #241C25;
	/*background-image: url("College.png");
	background-attachment:fixed;
	background-position:center bottom;
	background-size:cover;*/
	color: #F3F3F3;
	font-size: 150%;
	text-align: center;
	height: 100%;
	margin: 0;
}

header {
}

main {
	color: #F3F3F3;
	font-family: 'Roboto';
	padding-left: 15%;
	padding-right: 15%;
	z-index: 1:
}

h1 {
	color: inherit;
	text-align: center;
	font-size: 200%;
}

h2 {
	color: inherit;
	font-size: 150%;
	text-align:center;
}

h3 {
	font-size: 125%;
	color: inherit;
}

h4 {
	color: inherit;
	font-size: 75%;
}

h5 {
	color: inherit;
	font-size: 25%;
}

p {
	color: inherit;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
}

ol, ul {
	color: inherit;
	font-family: 'Roboto', sans-serif;
	text-align: left;
}

.image {
	background-image:url("College.png");
	background-attachment:fixed;
	background-position:center top;
	background-size: contain;
	image-resolution: from-image;
	border-bottom: solid;
	border-color: #D59A55;
	height:350px;
}

.image-text {
	text-align:center;
	font-family: 'Do Hyeon';
	font-size:300%;
	color:#AD2E28;
	font-weight:bold;
	position:absolute;
	top:200px;
	left:50%;
	transform:translate(-50%, -65%);
	background-color: white;
	border-color: #D59A55;
	border-style: solid;
	padding: 20px;
}


#navbar {
  overflow:hidden;
  background-color:#241C25;
	border-bottom: solid;
	border-color: #D59A55;
	/*border-radius: 200px;*/
	z-index: 10;
}

#navbar a {
  float:left;
  display:block;
  color:#F3F3F3;
  text-align:center;
	font-family: 'Roboto', sans-serif;
  padding:14px 16px;
  text-decoration:none;
}

#navbar a:hover {
  background-color:#D59A55;
  color:#241C25;
}

#navbar a.active {
  background-color:#D59A55;
  color:#241C25;
}

div.section {
	position: relative;
	border-style: solid;
	border-color: #D59A55;
	padding: 20px;
	padding-top: 10px;
	left: 50%;
	transform:translate(-50%);
}

.sticky {
  position: fixed;
  top:0;
  width:100%;
}

.sticky + .content {
  padding-top: 600px;
	margin-top: 600px;
}

a {
	color: #0796E5;
}

footer {
	color: white;
	border-top: solid;
	background-color: #141311;
	border-color: black;
	height: 150px;
	text-align: center;
	border-top: solid;
	border-color: #A2482E;
	font-family: 'Roboto', sans-serif;
}
