html {
	scroll-behavior: smooth;
}

body {
	background-color: #534D56;
	/*background-image: url("College.png");
	background-attachment:fixed;
	background-position:center bottom;
	background-size:cover;*/
	color: white;
	font-size: 150%;
	text-align: center;
	height: 100%;
	margin: 0;
}

header {
}

main, footer {
	color: #F8F1FF;
	font-family: 'Roboto';
}

h1 {
	color: inherit;
	text-align: center;
	font-size: 200%;
}

h2 {
	color: inherit;
	font-size: 150%;
	text-align:center;
}

h3 {
	color: inherit;
}

h4 {
	color: inherit;
	font-size: 75%;
}

p {
	color: inherit;
	font-family: 'Roboto', sans-serif;
}

ol, ul {
	color: inherit;
	font-family: 'Roboto', sans-serif;
	text-align: left;
}

.image {
	background-image:url("College.png");
	background-attachment:fixed;
	background-position:center top;
	background-size: contain;
	image-resolution: from-image;
	border-bottom: solid;
	border-color: white;
	height:350px;
}

.image-text {
	text-align:center;
	font-family: 'Do Hyeon';
	font-size:300%;
	color:#DECDF5;
	font-weight:bold;
	position:absolute;
	top:200px;
	left:50%;
	transform:translate(-50%, -65%);
	background-color: #A72608;
	border-color: white;
	border-style: solid;
	padding: 20px;
}


#navbar {
  overflow:hidden;
  background-color:inherit;
	border-bottom: solid;
	border-color: white;
	/*border-radius: 200px;*/
	z-index: 500;
}

#navbar a {
  float:left;
  display:block;
  color:white;
  text-align:center;
	font-family: 'Roboto', sans-serif;
  padding:14px 16px;
  text-decoration:none;
	z-index: 500;
}

#navbar a:hover {
  background-color:white;
  color:black;
	z-index: 500;
}

#navbar a.active {
  background-color:white;
  color:black;
	z-index: 500;
}

.navbar a:hover {
  background-color: #95F9E3;
	z-index: 500;
}

@media screen and (max-width: 670px) {
  #navbar a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

.content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}

.sticky {
  position: fixed;
  top:0;
  width:100%;
}

.sticky + .content {
  padding-top: 600px;
	margin-top: 600px;
}
a {
	color: inherit;
}

footer {
	color: white;
	border-top: solid;
	background-color: #141311;
	border-color: black;
	height: 150px;
	text-align: center;
	border-top: solid;
	border-color: #A2482E;
	font-family: 'Roboto', sans-serif;
}
