html {
	scroll-behavior: smooth;
}

body {
	background-color: white;
	/*background-image: url("./Images/home.jpg");
	background-attachment:fixed;
	background-position:center bottom;
	background-size:cover;*/
	font-family: 'Roboto', sans-serif;
	color: #0E8281;
	font-size: 25px;
	text-align: center;
	height: 100%;
	margin: 0;
}

main {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #007D70;
	text-align: center;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
}

h2 {
	color: #007D70;
	font-size: 30px;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}

h3 {
	color: black;
	font-weight: normal;
}

p {
	color: black;
	font-family: 'Roboto', sans-serif;
}

.image-home {
	background-image:url("./images/dcllc-logo.png");
	background-attachment:fixed;
	background-position:center top;
	background-size:contain;
	border-bottom: solid;
	height:400px;
}

.image-home-text {
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-size:75px;
	color:#0E8281;
	font-weight:bold;
	position:absolute;
	top:200px;
	left:50%;
	transform:translate(-50%, -50%);
	background-color:white;
	border-style: solid;
	padding: 20px;
}

.image {
	background-image:url("./images/dcllc-logo.png");
	background-attachment:fixed;
	background-position:center top;
	background-size:contain;
	border-bottom: solid;
	height:350px;
}

.image-text {
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-size:75px;
	color:#0E8281;
	font-weight:bold;
	position:absolute;
	top:175px;
	left:50%;
	transform:translate(-50%, -50%);
	background-color:white;
	border-style: solid;
	padding: 20px;
}

#navbar {
  overflow:hidden;
  background-color:white;
	border-bottom: solid;
	border-color: #0E8281;
	z-index: 5;
}

#navbar a {
  float: left;
  display: block;
  color: #0E8281;
  text-align:center;
	font-family: 'Roboto', sans-serif;
  padding:10px 12px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #0E8281;
  color:white;
}

#navbar a.active {
  background-color: #0E8281;
  color:white;
}

.navbar a:hover {
  background-color: black;
}

.sticky {
  position: fixed;
  top:0;
  width:100%;
}

a.hidden {
	text-decoration: none;
}

img.dcllc-home {
	transform: translate(-250px, 0%);
}

.what-is-dcllc-text {
	transform:translate(150px,-150px);
	height: 0;
}

div.review {
	transform:translate(-50%, 0);
	margin-left: 50%;
	width: 600px;
	height: auto;
	border: 1px solid black;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-item {
	flex-basis: auto;
	margin-right: 20px;
}

a {
	color: inherit;
	text-decoration-color: black;
}

img.char {
	height: 150px;
}

section.character {
	border: 2px solid #0E8281;
	display: block;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

section.character > article > img.char { /*Normal Charater*/
	transform: translate(-250px,0);
}

p.description { /*Normal Description*/
	transform: translate(250px,-175px);
	width: 450px;
	height: 0;
	/*border: 1px solid black;*/
}

section.character > article > img.alt-char { /*Alternate Character*/
	transform: translate(250px,0);
}

p.alt-description { /*Alternate Description*/
	transform: translate(75px,-175px);
	width: 450px;
	height: 0;
	/*border: 1px solid black;*/
}

table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

th, td {
	font-size: 20px;
	border: 1px solid black;
	padding: 10px;
}

ins {
	text-decoration: none;
}

strong {
	font-weight: bold;
}

* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #0E8281;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
	background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #0E8281;
  top: 15px;
  border-radius: 50%;
	z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #0E8281;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  left: 30px;
  border: medium solid #0E8281;
  border-width: 10px 10px 10px 0;
  border-color: transparent #0E8281 transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
	border: 5px solid #0E8281;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 1000px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid #0E8281;
    border-width: 10px 10px 10px 0;
    border-color: transparent #0E8281 transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

div.more {
	display: inline-block;
	border: 2px solid black;
	width: 550px;
	height: 300px;
	margin-bottom: 5px;
}

section > div > a {
	text-decoration: none;
}

img.more-banner {
	width: 546px;
	height: 150px;
}

img.icon {
	width: auto;
	height: 150px;
}

iframe {
	width: 32%;
	height: 216px;
	border: 0;
}

iframe.timeline {
	width: 100%;
}

footer {
	border-top: solid;
	background-color: white;
	border-color: black;
	height: 120px;
	text-align: center;
	border-top: solid;
	border-color: #0E8281;
	font-family: 'Montserrat', sans-serif;
}
