html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

main {
margin: 0;
padding: 0;
}

h1, h2, h3 {
  text-align: center;
  margin: 2px;
  font-family: 'Do Hyeon', sans-serif;
}

h1 {
  font-size: 7em;
  height: 129px;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}
