html {
	scroll-behavior: smooth;
}

body {

}

main {

}

h1, h2, h3 {
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
}

h1 {
  font-size: 7em;
  height: 129px;
  /*margin: 2px;*/
}

h2 {
  font-size: 4em;
  /*margin: 2px;*/
}

h3 {
  font-size: 3em;
  /*margin: 2px;*/
}

div.warning {
  background-color: red;
  width: 900px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /*overflow: hidden;*/
}

form {
	text-align:center;
	color:#7FDBFF;
}

button {
	width: 100px;
}

.button {
	border-radius: 4px;
	border: none;
	color:white;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 250px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}
